In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

#expands all columns in datafrae
pd.options.display.max_columns = None

#gets rid of SettingWithCopyWarning:
pd.options.mode.chained_assignment = None

In [2]:
#import the data
data = pd.read_json("data/data.json")

In [3]:
data.head(2)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,listed,name,name_length,num_order,num_payouts,object_id,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration,sale_duration2,show_map,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,1265630400,1.263110e+09,1265594400,0,0.00,0,1.0,0,y,"99 HOUR ""NO SLEEP"" SUPER BOWL CELEBRITY WEEKEN...",60,0,0,527017,,0.0,Party Starz Ent & Diverse Int'l Group,0.0,,,[],29.0,33,1,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,1296288000,1.293833e+09,1296255600,0,868.02,0,0.0,1,n,Winthrop RUF Winter Getaway,27,23,1,786878,"<p>Since 1987, RUF has ministered to students ...",0.0,RUF at Winthrop University,12.0,RUF,CHECK,"[{'name': 'RUF', 'created': '2010-10-01 01:10:...",28.0,28,0,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC

In [4]:
#number of features
print ("There are {} features.".format(data.shape[1]))

There are 44 features.

In [5]:
#number of datapoints
print ("there are {} datapoints.".format(data.shape[0]))

there are 14337 datapoints.

### Feature Engineering

##### ACH or Check?

In [6]:
data.payout_type.unique()

array(['', 'CHECK', 'ACH'], dtype=object)

In [7]:
payout_type = pd.get_dummies(data.payout_type)

In [8]:
data = data.join(payout_type)

In [9]:
data.sample(2)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,listed,name,name_length,num_order,num_payouts,object_id,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration,sale_duration2,show_map,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,,ACH,CHECK
10690,premium,1353569400,1801,5,GB,GBP,0.0,<p>ATOMIC BLONDIE - FRIDAY 16th NOVEMBER 2012 ...,live.co.uk,1337658822,1353137400,1.337659e+09,1353123000,0,341.87,0,0.0,1,y,Atomic Blondie - Blondie Tribute Band,37,7,67,3591455,"<p style=""text-align: center;""><span style=""fo...",15.0,Globe,13.0,,ACH,"[{'name': '', 'created': '2011-10-28 01:10:45'...",179.0,179,1,"[{'event_id': 3591455, 'cost': 10.0, 'availabi...",270,1314321525,1,Albany Rd,GB,51.493727,-3.162316,,,0,1,0
8072,premium,1320213600,1045,8,US,USD,1.0,"<p><img src=""http://atlanta.iabc.com/wp-conten...",iabcatl.com,1317121930,1319781600,1.317180e+09,1319761800,0,13520.00,0,1.0,0,y,2011 IABC/Atlanta Golden Flame Awards Gala,42,46,25,2243140,<p>IABC/Atlanta is a local chapter of the Inte...,0.0,IABC/Atlanta,0.0,,ACH,"[{'name': '', 'created': '2010-08-08 01:10:39'...",30.0,30,1,"[{'event_id': 2243140, 'cost': 74.61, 'availab...",455,1277866019,3,660 Peachtree Street NE,,33.772570,-84.384898,The Fox Theatre - Egyptian Ballroom,,0,1,0

##### description feature

In [10]:
#what's in the decription for the first event?
data.description.iloc[0]

'<p><a href="http://s432.photobucket.com/albums/qq49/digusonline/?action=view&amp;current=supersunday.jpg" target="_blank"><img src="http://i432.photobucket.com/albums/qq49/digusonline/supersunday.jpg" border="0" alt="Photobucket" /></a></p>\r\n<p>\xa0</p>\r\n<p style="text-align: center;"><font size="3"><strong>Party Starz Entertaintment &amp; Diverse International Group Presents...<br /></strong></font><br /><font face="tahoma,arial,helvetica,sans-serif" size="4"><strong>The Official\xa0"99 Hour No Sleep" Super Bowl </strong></font></p>\r\n<p style="text-align: center;"><font face="tahoma,arial,helvetica,sans-serif" size="4"><strong>Weekend </strong></font><font face="tahoma,arial,helvetica,sans-serif" size="4"><strong>Grand Finale</strong></font></p>\r\n<p><br /><span style="font-family: Times New Roman,serif;"><font size="3"><font face="tahoma,arial,helvetica,sans-serif">No matter who wins or loses, this post-game party cannot be missed! Enjoy the drink specials and all night music!<strong>\xa0</strong></font></font><span style="font-family: Times New Roman,serif;"><font face="tahoma,arial,helvetica,sans-serif" size="3">The ultimate "99 No Sleep"\xa0Super Bowl Weekend Grand Finale! Sunday, February 7th, 2010 @ Ink Nightclub-South Beach (717 Washington Ave, Miami Bch, FL 33139).</font></span></span></p>\r\n<p><span style="font-family: Times New Roman,serif;"><span style="font-family: Times New Roman,serif;"><font face="tahoma,arial,helvetica,sans-serif" size="3">Hosted by 99 Jamz with special appearances by Fast Life Youngstaz. Special invited guests: Billy Blue, Dorrough and Brisco and with performances by various artist\'s and many many more at South Beach\xa0Miami\'s finest venue! This is a party you have to see to believe! This is everyone\'s last chance to make that impression, so don\'t\xa0half-step, bring your "A" game\xa0and party with\xa0all of the hottest artists, celebrities, models and superstar athletes that are guaranteed to be in the building!</font></span></span></p>\r\n<p><span style="font-family: Times New Roman,serif;"><font size="3"><span style="font-family: Times New Roman,serif;"><font face="tahoma,arial,helvetica,sans-serif">DJ Q &amp; DJ Slym will ber keepig the party jumping til the sun comes up with the hottest Hip-Hop, R&amp;B, Reggae, Old School and more. </font></span></font></span></p>\r\n<p><span style="font-family: Times New Roman,serif;"><font size="3"><span style="font-family: Times New Roman,serif;"><font face="tahoma,arial,helvetica,sans-serif">Doors open @ 10pm. Ladies are 18+ and 21+ for Gents. 2-4-1 drinks until 1am, plus the best bottle specials ALL NIGHT LONG!!! We\'re offering\xa0Super Bowl game ticket stub discounts all night!</font></span></font></span></p>\r\n<p><span style="font-family: Times New Roman,serif;"><font size="3"><span style="font-family: Times New Roman,serif;"><font face="tahoma,arial,helvetica,sans-serif">Dress code is\xa0enforced, but it\'s not what you wear but how you wear it!\xa0All-Night Drink Specials! For more information\xa0&amp; table reservations email</font></span></font></span><span style="font-family: Times New Roman,serif;"><font size="3"><span style="font-family: Times New Roman,serif;"><font face="tahoma,arial,helvetica,sans-serif">: <a href="mailto:99hrnosleepweekend@gmail.com">99hrnosleepweekend@gmail.com</a> or 305.742.4880.</font></span></font></span></p>\r\n<p><span style="font-family: Times New Roman,serif;"></span></p>\r\n<p>\xa0</p>\r\n<p style="text-align: center;"><span style="font-family: Times New Roman,serif;"><font size="3"><span style="font-family: Times New Roman,serif;"><font face="tahoma,arial,helvetica,sans-serif">This is a 99 Hour No Sleep Celebrity Super Bowl Weekend event! <a \r\n<p>\xa0</p>'

In [11]:
from bs4 import BeautifulSoup
import re

In [23]:
#Parse the HTML tags
soup = BeautifulSoup(data.description.iloc[0]).text.replace("\xa0", " ").replace("\n", " ").lower()

In [24]:
soup

'   party starz entertaintment & diverse international group presents...the official "99 hour no sleep" super bowl  weekend grand finale no matter who wins or loses, this post-game party cannot be missed! enjoy the drink specials and all night music! the ultimate "99 no sleep" super bowl weekend grand finale! sunday, february 7th, 2010 @ ink nightclub-south beach (717 washington ave, miami bch, fl 33139). hosted by 99 jamz with special appearances by fast life youngstaz. special invited guests: billy blue, dorrough and brisco and with performances by various artist\'s and many many more at south beach miami\'s finest venue! this is a party you have to see to believe! this is everyone\'s last chance to make that impression, so don\'t half-step, bring your "a" game and party with all of the hottest artists, celebrities, models and superstar athletes that are guaranteed to be in the building! dj q & dj slym will ber keepig the party jumping til the sun comes up with the hottest hip-hop, r&b, reggae, old school and more.  doors open @ 10pm. ladies are 18+ and 21+ for gents. 2-4-1 drinks until 1am, plus the best bottle specials all night long!!! we\'re offering super bowl game ticket stub discounts all night! dress code is enforced, but it\'s not what you wear but how you wear it! all-night drink specials! for more information & table reservations email: 99hrnosleepweekend@gmail.com or 305.742.4880.    this is a 99 hour no sleep celebrity super bowl weekend event!  '

In [25]:
import string
import nltk
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem.snowball import SnowballStemmer

In [26]:
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/michellehoang/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/michellehoang/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/michellehoang/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [27]:
#tokenize and lose punctuation

In [28]:
import string

In [29]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [32]:
soup = soup.translate(str.maketrans('', '', string.punctuation))

In [33]:
soup

'   party starz entertaintment  diverse international group presentsthe official 99 hour no sleep super bowl  weekend grand finale no matter who wins or loses this postgame party cannot be missed enjoy the drink specials and all night music the ultimate 99 no sleep super bowl weekend grand finale sunday february 7th 2010  ink nightclubsouth beach 717 washington ave miami bch fl 33139 hosted by 99 jamz with special appearances by fast life youngstaz special invited guests billy blue dorrough and brisco and with performances by various artists and many many more at south beach miamis finest venue this is a party you have to see to believe this is everyones last chance to make that impression so dont halfstep bring your a game and party with all of the hottest artists celebrities models and superstar athletes that are guaranteed to be in the building dj q  dj slym will ber keepig the party jumping til the sun comes up with the hottest hiphop rb reggae old school and more  doors open  10pm ladies are 18 and 21 for gents 241 drinks until 1am plus the best bottle specials all night long were offering super bowl game ticket stub discounts all night dress code is enforced but its not what you wear but how you wear it allnight drink specials for more information  table reservations email 99hrnosleepweekendgmailcom or 3057424880    this is a 99 hour no sleep celebrity super bowl weekend event  '

In [34]:
data['parsed_desc'] = 1
for n in range(data.shape[0]):
    soup = BeautifulSoup(data.description.iloc[n]).text.replace("\xa0", " ").replace("\n", " ").lower()
    data["parsed_desc"].iloc[n] = soup.translate(str.maketrans('','',string.punctuation))

In [35]:
data.head(2)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,listed,name,name_length,num_order,num_payouts,object_id,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration,sale_duration2,show_map,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,,ACH,CHECK,parsed_desc
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,1265630400,1.263110e+09,1265594400,0,0.00,0,1.0,0,y,"99 HOUR ""NO SLEEP"" SUPER BOWL CELEBRITY WEEKEN...",60,0,0,527017,,0.0,Party Starz Ent & Diverse Int'l Group,0.0,,,[],29.0,33,1,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL,1,0,0,party starz entertaintment diverse interna...
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,1296288000,1.293833e+09,1296255600,0,868.02,0,0.0,1,n,Winthrop RUF Winter Getaway,27,23,1,786878,"<p>Since 1987, RUF has ministered to students ...",0.0,RUF at Winthrop University,12.0,RUF,CHECK,"[{'name': 'RUF', 'created': '2010-10-01 01:10:...",28.0,28,0,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC,0,0,1,join us for a quick onenight communitybuilding...

In [45]:
#stop words
stop_words = set(nltk.corpus.stopwords.words('english'))

In [49]:
type(stop_words)

set

In [55]:
desc_no_stops = []
for word in data.parsed_desc.iloc[0].split():
    if word not in stop_words:
        desc_no_stops.append(word)

In [56]:
desc_no_stops

['party',
 'starz',
 'entertaintment',
 'diverse',
 'international',
 'group',
 'presentsthe',
 'official',
 '99',
 'hour',
 'sleep',
 'super',
 'bowl',
 'weekend',
 'grand',
 'finale',
 'matter',
 'wins',
 'loses',
 'postgame',
 'party',
 'cannot',
 'missed',
 'enjoy',
 'drink',
 'specials',
 'night',
 'music',
 'ultimate',
 '99',
 'sleep',
 'super',
 'bowl',
 'weekend',
 'grand',
 'finale',
 'sunday',
 'february',
 '7th',
 '2010',
 'ink',
 'nightclubsouth',
 'beach',
 '717',
 'washington',
 'ave',
 'miami',
 'bch',
 'fl',
 '33139',
 'hosted',
 '99',
 'jamz',
 'special',
 'appearances',
 'fast',
 'life',
 'youngstaz',
 'special',
 'invited',
 'guests',
 'billy',
 'blue',
 'dorrough',
 'brisco',
 'performances',
 'various',
 'artists',
 'many',
 'many',
 'south',
 'beach',
 'miamis',
 'finest',
 'venue',
 'party',
 'see',
 'believe',
 'everyones',
 'last',
 'chance',
 'make',
 'impression',
 'dont',
 'halfstep',
 'bring',
 'game',
 'party',
 'hottest',
 'artists',
 'celebrities',
 'models',
 'superstar',
 'athletes',
 'guaranteed',
 'building',
 'dj',
 'q',
 'dj',
 'slym',
 'ber',
 'keepig',
 'party',
 'jumping',
 'til',
 'sun',
 'comes',
 'hottest',
 'hiphop',
 'rb',
 'reggae',
 'old',
 'school',
 'doors',
 'open',
 '10pm',
 'ladies',
 '18',
 '21',
 'gents',
 '241',
 'drinks',
 '1am',
 'plus',
 'best',
 'bottle',
 'specials',
 'night',
 'long',
 'offering',
 'super',
 'bowl',
 'game',
 'ticket',
 'stub',
 'discounts',
 'night',
 'dress',
 'code',
 'enforced',
 'wear',
 'wear',
 'allnight',
 'drink',
 'specials',
 'information',
 'table',
 'reservations',
 'email',
 '99hrnosleepweekendgmailcom',
 '3057424880',
 '99',
 'hour',
 'sleep',
 'celebrity',
 'super',
 'bowl',
 'weekend',
 'event']

##### Convert epoch time to date time

In [13]:
from datetime import datetime

In [14]:
#change all epoch elements to dates
data["date_created"] = pd.to_datetime(data.event_created, unit='s').dt.date
data["date_published"] = pd.to_datetime(data.event_published, unit='s').dt.date
data["start"] = pd.to_datetime(data.event_start, unit='s').dt.date
data["end"] = pd.to_datetime(data.event_end, unit='s').dt.date

In [15]:
data.sample(2)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,listed,name,name_length,num_order,num_payouts,object_id,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration,sale_duration2,show_map,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,parsed_desc,date_created,date_published,start,end
8580,premium,1324875600,2970,8,US,USD,0.0,"<p class=""MsoNormal"" style=""line-height: norma...",gmail.com,1319737826,1324443600,1.319739e+09,1322619300,0,30.0,0,0.0,1,y,4 week Mini Argentine Tango Beginner and Advan...,64,1,2,2309342,"<p>Promoting Argentine Tango in Augusta, Ga./C...",0.0,Augusta Tango Club LLC,0.0,,ACH,"[{'name': '', 'created': '2011-10-07 01:12:39'...",33.0,33,1,"[{'event_id': 2309342, 'cost': 27.36, 'availab...",157,1306161715,3,"1695 Richland Ave. East, Ste.",US,33.552402,-81.696650,Just Tango Steakhouse,SC,@ just tango steakhouse by steve & diane neely...,2011-10-27,2011-10-27,2011-11-30,2011-12-21
4881,premium,1373068800,2809,11,GB,GBP,0.0,"<p><span style=""vertical-align: baseline; font...",guardian.co.uk,1365778894,1372636800,1.365779e+09,1372525200,0,4915.3,0,0.0,0,y,Introduction to HTML5 and CSS3,30,8,378,6241719,"<div id=""article-wrapper"">\r\n<p>Welcome to Gu...",0.0,Guardian Masterclasses,16.0,,ACH,"[{'name': '', 'created': '2010-12-01 00:00:00'...",78.0,78,1,"[{'event_id': 6241719, 'cost': 312.83, 'availa...",914,1286788056,3,,GB,51.534909,-0.121693,,,"whether you want to promote your business, hos...",2013-04-12,2013-04-12,2013-06-29,2013-07-01

### Create Label

In [16]:
data.acct_type.unique()

array(['fraudster_event', 'premium', 'spammer_warn', 'fraudster',
       'spammer_limited', 'spammer_noinvite', 'locked', 'tos_lock',
       'tos_warn', 'fraudster_att', 'spammer_web', 'spammer'],
      dtype=object)

In [17]:
#add a new column called "Fraud"
#True if any acct_type field contains the word fraud
#False if it does not contain it
data["Fraud"] = data.acct_type.str.contains("fraud", regex = True)

In [18]:
data.head(2)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,listed,name,name_length,num_order,num_payouts,object_id,org_desc,org_facebook,org_name,org_twitter,payee_name,payout_type,previous_payouts,sale_duration,sale_duration2,show_map,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,parsed_desc,date_created,date_published,start,end,Fraud
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,1265630400,1.263110e+09,1265594400,0,0.00,0,1.0,0,y,"99 HOUR ""NO SLEEP"" SUPER BOWL CELEBRITY WEEKEN...",60,0,0,527017,,0.0,Party Starz Ent & Diverse Int'l Group,0.0,,,[],29.0,33,1,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL,party starz entertaintment & diverse intern...,2010-01-06,2010-01-10,2010-02-08,2010-02-08,True
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,1296288000,1.293833e+09,1296255600,0,868.02,0,0.0,1,n,Winthrop RUF Winter Getaway,27,23,1,786878,"<p>Since 1987, RUF has ministered to students ...",0.0,RUF at Winthrop University,12.0,RUF,CHECK,"[{'name': 'RUF', 'created': '2010-10-01 01:10:...",28.0,28,0,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC,"join us for a quick, one-night, community-buil...",2010-12-31,2010-12-31,2011-01-28,2011-01-29,False

In [19]:
#this will be our target
label = data["Fraud"]

## Split our data into train and test data

In [20]:
X = data.drop("Fraud", axis = 1)
y = data["Fraud"]

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

In [22]:
events = X_train
actual = y_train

## Start EDA

In [23]:
events.describe()

,approx_payout_date,body_length,channels,delivery_method,event_created,event_end,event_published,event_start,fb_published,gts,has_analytics,has_header,has_logo,name_length,num_order,num_payouts,object_id,org_facebook,org_twitter,sale_duration,sale_duration2,show_map,user_age,user_created,user_type,venue_latitude,venue_longitude
count,9.605000e+03,9605.00000,9605.000000,9596.000000,9.605000e+03,9.605000e+03,9.541000e+03,9.605000e+03,9605.000000,9605.000000,9605.000000,6009.000000,9605.000000,9605.000000,9605.000000,9605.000000,9.605000e+03,9566.000000,9566.000000,9500.000000,9605.000000,9605.000000,9605.000000,9.605000e+03,9605.000000,8894.000000,8894.000000
mean,1.351034e+09,3687.18303,6.159708,0.441226,1.345918e+09,1.350602e+09,1.340458e+09,1.350317e+09,0.127954,2489.120086,0.074024,0.202530,0.842374,41.474857,29.212598,34.023321,4.537771e+06,7.972298,4.292181,46.874526,50.785320,0.846018,380.342322,1.313057e+09,2.710463,35.137300,-59.147154
std,2.398881e+07,5798.27090,3.846181,0.592981,2.402469e+07,2.398881e+07,9.117856e+07,2.392907e+07,0.334056,9425.089945,0.261823,0.401918,0.364409,23.084630,102.666802,125.591130,1.992849e+06,11.769407,5.994460,54.053017,59.595121,0.360951,422.283272,4.163959e+07,1.490208,20.419909,67.086361
min,1.171256e+09,0.00000,0.000000,0.000000,1.170332e+09,1.170824e+09,0.000000e+00,1.170819e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.714600e+04,0.000000,0.000000,-143.000000,-86.000000,0.000000,0.000000,1.011210e+09,1.000000,-45.045208,-158.089831
25%,1.334203e+09,756.00000,5.000000,0.000000,1.329749e+09,1.333771e+09,1.329511e+09,1.333318e+09,0.000000,116.600000,0.000000,0.000000,1.000000,26.000000,2.000000,0.000000,2.892901e+06,0.000000,0.000000,16.000000,17.000000,1.000000,14.000000,1.286558e+09,1.000000,33.970648,-97.113132
50%,1.356053e+09,1990.00000,6.000000,0.000000,1.351280e+09,1.355621e+09,1.351445e+09,1.355432e+09,0.000000,438.520000,0.000000,0.000000,1.000000,38.000000,7.000000,2.000000,4.604736e+06,0.000000,0.000000,32.000000,35.000000,1.000000,250.000000,1.316223e+09,3.000000,39.984804,-79.440221
75%,1.370668e+09,4312.00000,8.000000,1.000000,1.365398e+09,1.370236e+09,1.365538e+09,1.370052e+09,0.000000,1571.250000,0.000000,0.000000,1.000000,53.000000,23.000000,13.000000,6.087527e+06,14.000000,11.000000,59.000000,63.000000,1.000000,608.000000,1.346170e+09,3.000000,44.918165,-3.170042
max,1.523488e+09,65535.00000,13.000000,3.000000,1.382012e+09,1.523056e+09,1.381608e+09,1.418850e+09,1.000000,306293.930000,1.000000,1.000000,1.000000,254.000000,2000.000000,1858.000000,8.792893e+06,91.000000,23.000000,980.000000,980.000000,1.000000,3794.000000,1.381543e+09,103.000000,64.844022,176.169492

In [24]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9605 entries, 660 to 6441
Data columns (total 49 columns):
acct_type             9605 non-null object
approx_payout_date    9605 non-null int64
body_length           9605 non-null int64
channels              9605 non-null int64
country               9551 non-null object
currency              9605 non-null object
delivery_method       9596 non-null float64
description           9605 non-null object
email_domain          9605 non-null object
event_created         9605 non-null int64
event_end             9605 non-null int64
event_published       9541 non-null float64
event_start           9605 non-null int64
fb_published          9605 non-null int64
gts                   9605 non-null float64
has_analytics         9605 non-null int64
has_header            6009 non-null float64
has_logo              9605 non-null int64
listed                9605 non-null object
name                  9605 non-null object
name_length           9605 non-null int64
num_order             9605 non-null int64
num_payouts           9605 non-null int64
object_id             9605 non-null int64
org_desc              9605 non-null object
org_facebook          9566 non-null float64
org_name              9605 non-null object
org_twitter           9566 non-null float64
payee_name            9605 non-null object
payout_type           9605 non-null object
previous_payouts      9605 non-null object
sale_duration         9500 non-null float64
sale_duration2        9605 non-null int64
show_map              9605 non-null int64
ticket_types          9605 non-null object
user_age              9605 non-null int64
user_created          9605 non-null int64
user_type             9605 non-null int64
venue_address         9605 non-null object
venue_country         8894 non-null object
venue_latitude        8894 non-null float64
venue_longitude       8894 non-null float64
venue_name            8894 non-null object
venue_state           8894 non-null object
parsed_desc           9605 non-null object
date_created          9605 non-null object
date_published        9541 non-null object
start                 9605 non-null object
end                   9605 non-null object
dtypes: float64(9), int64(18), object(22)
memory usage: 3.7+ MB

In [25]:
#checking to see if any features of NaN values
#true indicates the feature has NaN values
events.isna().any()

acct_type             False
approx_payout_date    False
body_length           False
channels              False
country                True
currency              False
delivery_method        True
description           False
email_domain          False
event_created         False
event_end             False
event_published        True
event_start           False
fb_published          False
gts                   False
has_analytics         False
has_header             True
has_logo              False
listed                False
name                  False
name_length           False
num_order             False
num_payouts           False
object_id             False
org_desc              False
org_facebook           True
org_name              False
org_twitter            True
payee_name            False
payout_type           False
previous_payouts      False
sale_duration          True
sale_duration2        False
show_map              False
ticket_types          False
user_age              False
user_created          False
user_type             False
venue_address         False
venue_country          True
venue_latitude         True
venue_longitude        True
venue_name             True
venue_state            True
parsed_desc           False
date_created          False
date_published         True
start                 False
end                   False
dtype: bool

##### body_length

In [26]:
events.body_length.value_counts()

0        555
108       16
870       16
1615      13
131       10
1069       9
667        9
1804       8
3684       8
1616       8
261        8
1943       8
145        8
138        8
154        8
484        8
1090       7
649        7
218        7
123        7
1064       7
531        7
790        7
155        7
764        7
1305       7
735        6
407        6
1257       6
124        6
        ...
1581       1
2722       1
4769       1
6816       1
3620       1
2770       1
15906      1
1565       1
687        1
16905      1
6928       1
7694       1
4873       1
23304      1
771        1
2818       1
38415      1
2810       1
6844       1
3604       1
6896       1
7925       1
2794       1
8935       1
10982      1
3612       1
4833       1
731        1
4825       1
17806      1
Name: body_length, Length: 5272, dtype: int64

##### currency types

In [27]:
#what currencies were used?
currencies = events.currency.unique()
currencies

array(['GBP', 'USD', 'CAD', 'AUD', 'NZD', 'EUR'], dtype=object)