In [52]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [10]:
#import the data
data = pd.read_json("data/data.json")

In [11]:
data.head(2)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,ticket_types,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,"[{'event_id': 527017, 'cost': 25.0, 'availabil...",36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,"[{'event_id': 786878, 'cost': 35.0, 'availabil...",149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC

In [12]:
#number of features
print ("There are {} features.".format(data.shape[1]))

There are 44 features.

In [13]:
#number of datapoints
print ("there are {} datapoints.".format(data.shape[0]))

there are 14337 datapoints.

### Create Label

In [22]:
data.acct_type.unique()

array(['fraudster_event', 'premium', 'spammer_warn', 'fraudster',
       'spammer_limited', 'spammer_noinvite', 'locked', 'tos_lock',
       'tos_warn', 'fraudster_att', 'spammer_web', 'spammer'],
      dtype=object)

In [30]:
#add a new column called "Fraud"
#True if any acct_type field contains the word fraud
#False if it does not contain it
data["Fraud"] = data.acct_type.str.contains("fraud", regex = True)

In [31]:
data.head(2)

,acct_type,approx_payout_date,body_length,channels,country,currency,delivery_method,description,email_domain,event_created,...,user_age,user_created,user_type,venue_address,venue_country,venue_latitude,venue_longitude,venue_name,venue_state,Fraud
0,fraudster_event,1266062400,3852,5,US,USD,0.0,"<p><a href=""http://s432.photobucket.com/albums...",gmail.com,1262739706,...,36,1259613950,1,717 Washington Avenue,US,25.777471,-80.133433,INK Nightclub - South Beach,FL,True
1,premium,1296720000,3499,0,US,USD,1.0,"<p>Join us for a quick, one-night, community-b...",ruf.org,1293832670,...,149,1280942776,3,,US,32.776566,-79.930922,"The Charleston, SC area",SC,False

In [33]:
#this will be our target
label = data["Fraud"]

## Split our data into train and test data

In [48]:
X = data.drop("Fraud", axis = 1)
y = data["Fraud"]

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

In [54]:
events = X_train
actual = y_train

## Start EDA

In [55]:
events.describe()

,approx_payout_date,body_length,channels,delivery_method,event_created,event_end,event_published,event_start,fb_published,gts,...,org_facebook,org_twitter,sale_duration,sale_duration2,show_map,user_age,user_created,user_type,venue_latitude,venue_longitude
count,9.605000e+03,9605.000000,9605.000000,9594.000000,9.605000e+03,9.605000e+03,9.530000e+03,9.605000e+03,9605.000000,9605.000000,...,9567.000000,9567.000000,9493.000000,9605.000000,9605.000000,9605.000000,9.605000e+03,9605.000000,8881.000000,8881.000000
mean,1.350912e+09,3664.437480,6.185528,0.443194,1.345764e+09,1.350480e+09,1.340870e+09,1.350190e+09,0.128995,2433.142480,...,7.997491,4.330302,47.310650,51.100989,0.841124,375.704112,1.313303e+09,2.703800,35.405560,-59.929378
std,2.393668e+07,5652.494632,3.844264,0.593718,2.394897e+07,2.393667e+07,8.695283e+07,2.392998e+07,0.335212,8959.748669,...,11.774574,6.012290,53.650777,59.090289,0.365579,421.013722,4.142018e+07,1.494343,19.968960,66.047632
min,1.171256e+09,0.000000,0.000000,0.000000,1.170332e+09,1.170824e+09,0.000000e+00,1.170819e+09,0.000000,0.000000,...,0.000000,0.000000,-36.000000,-28.000000,0.000000,0.000000,1.011210e+09,1.000000,-45.045208,-159.390183
25%,1.334765e+09,748.000000,5.000000,0.000000,1.329932e+09,1.334333e+09,1.329928e+09,1.333825e+09,0.000000,118.040000,...,0.000000,0.000000,16.000000,17.000000,1.000000,12.000000,1.286818e+09,1.000000,34.012086,-97.115941
50%,1.355702e+09,2004.000000,6.000000,0.000000,1.350943e+09,1.355270e+09,1.350966e+09,1.354918e+09,0.000000,441.060000,...,0.000000,0.000000,32.000000,35.000000,1.000000,243.000000,1.316904e+09,3.000000,40.006629,-79.450396
75%,1.370556e+09,4304.000000,8.000000,1.000000,1.365082e+09,1.370124e+09,1.365213e+09,1.369877e+09,0.000000,1590.480000,...,14.000000,11.000000,60.000000,64.000000,1.000000,609.000000,1.346353e+09,3.000000,44.899386,-3.217366
max,1.449706e+09,65535.000000,13.000000,3.000000,1.382012e+09,1.449274e+09,1.381480e+09,1.418850e+09,1.000000,306293.930000,...,91.000000,34.000000,792.000000,886.000000,1.000000,3794.000000,1.381479e+09,103.000000,64.844022,176.169492

In [56]:
events.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9605 entries, 1516 to 14237
Data columns (total 44 columns):
acct_type             9605 non-null object
approx_payout_date    9605 non-null int64
body_length           9605 non-null int64
channels              9605 non-null int64
country               9550 non-null object
currency              9605 non-null object
delivery_method       9594 non-null float64
description           9605 non-null object
email_domain          9605 non-null object
event_created         9605 non-null int64
event_end             9605 non-null int64
event_published       9530 non-null float64
event_start           9605 non-null int64
fb_published          9605 non-null int64
gts                   9605 non-null float64
has_analytics         9605 non-null int64
has_header            6005 non-null float64
has_logo              9605 non-null int64
listed                9605 non-null object
name                  9605 non-null object
name_length           9605 non-null int64
num_order             9605 non-null int64
num_payouts           9605 non-null int64
object_id             9605 non-null int64
org_desc              9605 non-null object
org_facebook          9567 non-null float64
org_name              9605 non-null object
org_twitter           9567 non-null float64
payee_name            9605 non-null object
payout_type           9605 non-null object
previous_payouts      9605 non-null object
sale_duration         9493 non-null float64
sale_duration2        9605 non-null int64
show_map              9605 non-null int64
ticket_types          9605 non-null object
user_age              9605 non-null int64
user_created          9605 non-null int64
user_type             9605 non-null int64
venue_address         9605 non-null object
venue_country         8881 non-null object
venue_latitude        8881 non-null float64
venue_longitude       8881 non-null float64
venue_name            8881 non-null object
venue_state           8881 non-null object
dtypes: float64(9), int64(18), object(17)
memory usage: 3.3+ MB

In [57]:
#checking to see if any features of NaN values
#true indicates the feature has NaN values
events.isna().any()

acct_type             False
approx_payout_date    False
body_length           False
channels              False
country                True
currency              False
delivery_method        True
description           False
email_domain          False
event_created         False
event_end             False
event_published        True
event_start           False
fb_published          False
gts                   False
has_analytics         False
has_header             True
has_logo              False
listed                False
name                  False
name_length           False
num_order             False
num_payouts           False
object_id             False
org_desc              False
org_facebook           True
org_name              False
org_twitter            True
payee_name            False
payout_type           False
previous_payouts      False
sale_duration          True
sale_duration2        False
show_map              False
ticket_types          False
user_age              False
user_created          False
user_type             False
venue_address         False
venue_country          True
venue_latitude         True
venue_longitude        True
venue_name             True
venue_state            True
dtype: bool

##### body_length

In [58]:
events.body_length.value_counts()

0        563
870       17
1615      15
131       13
108       12
1069      11
145       10
123        9
1616       8
154        8
3456       8
4076       8
140        8
2052       8
1646       8
667        8
955        8
764        7
1456       7
261        7
277        7
863        7
649        7
407        7
928        7
3684       7
202        7
1173       7
322        7
1702       7
        ...
702        1
851        1
4945       1
2719       1
27598      1
2687       1
6797       1
3090       1
9231       1
12928      1
13317      1
2695       1
3074       1
5121       1
12936      1
5113       1
13301      1
3058       1
5073       1
654        1
2733       1
7144       1
995        1
987        1
4756       1
5081       1
7128       1
11222      1
979        1
15697      1
Name: body_length, Length: 5257, dtype: int64

##### currency types

In [60]:
#what currencies were used?
currencies = events.currency.unique()
currencies

array(['USD', 'GBP', 'EUR', 'CAD', 'AUD', 'NZD', 'MXN'], dtype=object)

In [ ]:
plt.hist(events.currency)